#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Custom shadow for search box */
.custom-shadow {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}

/* Dia logo transition */
.logo-transition {
  transition: filter 0.1s ease-in-out;
}
